@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

body main #section-image, body main #section-texts #div-btn, body main, body {
  display: flex;
  align-items: center;
  justify-content: center;
}

body #header-field nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 55px;
  bottom: -2px;
  left: 11px;
  background-color: rgb(0, 0, 0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

body main #section-modal #div-content-modal div div button, body main #section-modal #div-content-modal div form button {
  border: none;
  height: 3.3rem;
  width: 8rem;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 300ms;
  cursor: pointer;
}

:root {
  font-size: 62.5%;
}

body {
  max-width: 100%;
  height: 100vh;
  flex-direction: column;
}
body #header-field {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1725490196);
  line-height: 1;
  margin-bottom: 5rem;
  position: fixed;
  z-index: 3;
  top: 0;
}
body #header-field nav {
  visibility: hidden;
  opacity: 0;
  transform-origin: top;
  background: rgba(255, 255, 255, 0.5803921569);
  backdrop-filter: blur(5px);
  position: fixed;
  scale: 0.6;
  top: 71px;
  left: 0;
  transition: all 300ms;
  z-index: 2;
}
body #header-field nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  line-height: 1;
}
body #header-field nav ul li:first-child {
  padding-top: 1rem;
}
body #header-field nav ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1725490196);
  padding-bottom: 2rem;
  font-size: 1.6rem;
  cursor: pointer;
}
body #header-field nav ul li:hover::after {
  transform: scaleX(0.82);
  transform-origin: left;
}
body #header-field nav ul li:nth-child(2)::after {
  top: 112px;
}
body #header-field nav ul li:last-child::after {
  top: 169px;
}
body #header-field button {
  background: transparent;
  border: none;
}
body #header-field button i {
  font-size: 2rem;
}
body main {
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  gap: 5rem;
}
body main #section-texts {
  width: 100%;
  min-height: 50%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  line-height: 1;
  padding: 10rem 0 0 0;
  padding-bottom: 5rem;
  padding-inline: 1rem;
}
body main #section-texts h1 {
  font-size: 4.7rem;
  font-weight: 500;
  color: #333;
  text-align: center;
  word-break: break-all;
}
body main #section-texts #div-spans {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
body main #section-texts #div-spans span {
  justify-self: center;
  color: #333;
  font-weight: 400;
  font-size: 1.8rem;
}
body main #section-texts #div-spans span:last-child {
  font-size: 2.5rem;
  font-weight: 700;
}
body main #section-texts #div-btn button {
  width: 20%;
  background: #333;
  border: none;
  height: 5.5rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: white;
  transition: all 300ms;
  cursor: pointer;
}
body main #section-texts #div-btn button:hover {
  background: #fff;
  border: 1px solid #333;
  color: #333;
}
body main #section-texts #div-btn button:last-child {
  width: 50%;
  background: #000;
  transition: all 300ms;
}
body main #section-texts #div-btn button:last-child:hover {
  background: #fff;
  border: 1px solid black;
  color: #000;
}
body main #section-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4235294118);
  backdrop-filter: blur(4px);
  transform: scale(1.3);
  visibility: hidden;
  opacity: 0;
  transition: all 300ms;
}
body main #section-modal #div-content-modal {
  width: 65%;
  padding-inline: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.5019607843);
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  align-content: space-between;
  justify-items: center;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.384);
}
body main #section-modal #div-content-modal section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main #section-modal #div-content-modal section div:first-child p {
  font-size: 1.8rem;
  font-weight: 500;
}
body main #section-modal #div-content-modal section div:first-child span {
  font-size: 1.2rem;
}
body main #section-modal #div-content-modal section div:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
body main #section-modal #div-content-modal section div:last-child button {
  font-size: 1.7rem;
  background: #000;
  border: none;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  width: 2rem;
}
body main #section-modal #div-content-modal section div:last-child button:first-child {
  border-radius: 5px 0 0 5px;
}
body main #section-modal #div-content-modal section div:last-child span {
  font-size: 1.5rem;
  padding-inline: 1rem;
}
body main #section-modal #div-content-modal div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
body main #section-modal #div-content-modal div form {
  justify-self: flex-end;
  padding-bottom: 3rem;
}
body main #section-modal #div-content-modal div form input {
  background-color: #000;
  color: white;
  border: none;
  text-indent: 0.7rem;
  height: 3.3rem;
  font-weight: 500;
  font-size: 1.4rem;
}
body main #section-modal #div-content-modal div form input:focus {
  outline: none;
}
body main #section-modal #div-content-modal div form button {
  background-color: #000;
  color: white;
}
body main #section-modal #div-content-modal div form button:hover {
  background-color: white;
  color: #000;
  border: 1px solid #000;
}
body main #section-modal #div-content-modal div div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main #section-modal #div-content-modal div div button {
  background: #fff;
  width: 30%;
}
body main #section-modal #div-content-modal div div button:last-child {
  background: #000;
  color: white;
  width: 50%;
}
body main #section-modal #div-content-modal div div button:first-child:hover {
  background: #000;
  color: white;
  border: 1px solid white;
}
body main #section-modal #div-content-modal div div button:last-child:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}
body main #section-image {
  width: 100%;
  min-height: 30%;
  background-color: rgba(0, 0, 0, 0.5019607843);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  line-height: 1;
}
body main #section-image img {
  width: 50%;
  object-fit: cover;
  transition: all 300ms;
}
body main #section-image img:hover {
  transform: scale(1.2) rotate(20deg);
}
@media screen and (min-width: 1023px) {
  body main {
    flex-direction: row;
  }
  body main #section-texts {
    width: 600px;
  }
  body main #section-modal #div-content-modal {
    width: 600px;
  }
  body main #section-image {
    width: 50%;
    height: 100%;
    box-shadow: 0 12px 6px 3px rgba(0, 0, 0, 0.75);
  }
  body main #section-image img {
    width: 600px;
  }
  body main #section-image img:hover {
    transform: scale(1.7) rotate(10deg);
  }
}

/*# sourceMappingURL=output-store.css.map */
