@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
}

$color-p: #333;

%display-align
{
    display: flex;
    justify-content: center;
    align-items: center;
}

%navAnimation
{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    top: 55px;
    bottom: -2px;
    left: 11px;
    background-color: rgb(0, 0, 0);
    transform-origin: left;
    transition: transform 0.3s ease-out
}

%modalBTn
{
    border: none;
    height: 3.3rem;
    font-weight: 400;
    font-size: clamp(1.3rem, 3vw - 1.3rem, 1.5rem);
    transition: all 300ms;
    cursor: pointer;
}

:root
{
    font-size: 62.5%;
}

body
{
    max-width: 100%;
    height: 100vh;
    @extend %display-align;
    flex-direction: column;
    #header-field
    {
        width: 100%;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 1rem;
        border-bottom: 1px solid #0000002c;
        line-height: 1;
        margin-bottom: 5rem;
        position: fixed;
        z-index: 3;
        top: 0;
        div
        {
            cursor: pointer;
        }
        h1
        {
            
            font-size: 3rem;
            font-weight: 900;
            color: #333;
        }
        nav
        {
            visibility: hidden;
            opacity: 0;
            transform-origin: top;
            background: #ffffff94;
            backdrop-filter: blur(5px);
            position: fixed;
            scale: 0.6;
            top: 73px;
            left: 0;
            transition: all 300ms;
            z-index: 2;
            
            ul
            {
                list-style: none;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                align-items: center;
                gap: 2rem;
                padding: 1rem;
                line-height: 1;
                
                li:first-child
                {
                    padding-top: 1rem;
                }
                li
                {
                    border-bottom: 1px solid #0000002c;
                    padding-bottom: 2rem;
                    font-size: 1.6rem;
                    cursor: pointer;
                    
                }
                li::after
                {
                    @extend %navAnimation;
                }
                li:hover::after
                {
                    transform: scaleX(0.82);
                    transform-origin: left;
                }
                li:nth-child(2)::after
                {
                    top: 112px;
                }
                li:last-child::after
                {
                    top: 169px;
                }
            }

        }
        button
        {
            background: transparent;
            border: none;
            cursor: pointer;
            i
            {
                font-size: 2rem;
            }
        }
    }

    main
    {
        width: 100%;
        min-height: 100%;
        @extend %display-align;
        flex-direction: column;
        gap: 5rem;

        #section-texts
        {
            width: 100%;
            min-height: 50%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            line-height: 1;
            padding: 10rem 0 0 0;
            padding-bottom: 5rem;
            padding-inline: 2rem;
            


            h2
            {
                font-size: clamp(3.7rem, 4vw, 4.7rem);
                font-weight: 500;
                color: $color-p;
                text-align: center;
                word-break: break-all;
            }
            #div-spans
            {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 4rem;
                margin-top: 1rem;
                margin-bottom: 4rem;

                span
                {
                    justify-self: center;
                    color: $color-p;
                    font-weight: 400;
                    font-size: 1.8rem;
                }
                span:last-child
                {
                    font-size: 2.5rem;
                    font-weight: 700;
                }
            }

            #div-btn
            {
                @extend %display-align;

                button
                {
                    min-width: 20%;
                    padding-inline: 0.5rem;
                    background: $color-p;
                    border: none;
                    height: 5.5rem;
                    font-weight: 500;
                    font-size: clamp(1.3rem, 3vw - 1.3rem, 1.5rem);
                    color: white;
                    transition: all 300ms;
                    cursor: pointer;
                }

                button:hover
                {
                    background: #fff;
                    border: 1px solid $color-p;
                    color: $color-p;
                }
                button:last-child
                {
                    min-width: 40%;
                    background: #000;
                    transition: all 300ms;
                }
                button:last-child:hover
                {
                    background: #fff;
                    border: 1px solid black;
                    color: #000;
                }
            }
        }
        
        #section-modal
        {
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 5;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0000006c;
            background-attachment: fixed;
            backdrop-filter: blur(4px);
            transform: scale(1.3);
            visibility: hidden;
            opacity: 0;
            padding-inline: 2rem;
            transition: all 300ms;

            #div-content-modal
            {
                min-width: 65%;
                padding-inline: 2rem;
                padding-bottom: 2rem;
                background-color: #ffffff80;
                backdrop-filter: blur(10px);
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 2rem;
                align-content: space-between;
                justify-items: center;
                box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.384);

                section
                {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 1rem;

                    div:first-child
                    {
                        p
                        {
                            font-size: 1.8rem;
                            font-weight: 500;
                        }
                        span
                        {
                            font-size: 1.4rem;
                            font-weight: 500;
                        }

                    }
                    div:last-child
                    {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        button
                        {
                            font-size: 1.7rem;
                            background: #000;
                            border: none;
                            color: #fff;
                            border-radius: 0px 5px 5px 0px;
                            width: 2rem;
                            
                        }
                        button:first-child
                        {
                            border-radius: 5px 0 0 5px;
                        }
                        span
                        {
                            font-size: 1.5rem;
                            padding-inline: 1rem;
                            font-weight: 500;
                        }
                    }
                }

                div:nth-child(3)
                {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 2rem;
                    span
                    {
                        height: 3.3rem;   
                        justify-self: flex-end;
                        align-content: center;
                        font-size: clamp(1.3rem, 3vw - 1.3rem, 1.5rem);
                        font-weight: 500;
                        color: #fff;
                        background: #000;
                        padding-inline: 1rem;
                        
                    }
                    form
                    {
                        width: 100%;
                        @extend %display-align;
                        justify-content: flex-end;
                        gap: 2rem;
                        padding-bottom: 1rem;
                
                        input
                        {
                            background-color: #000;
                            color: white;
                            border: none;
                            text-indent: 0.7rem;
                            height: 3.3rem;
                            font-weight: 400;
                            font-size: 1.3rem;
                            width: 60%;
                            
                        }
                        input:focus
                        {
                            outline: none;
                        }
                        
                        button
                        {
                            background-color: #000;
                            color: white;
                            @extend %modalBTn;
                            min-width: 30%;
                        }
                        button:hover
                        {
                            background-color: white;
                            color: #000;
                            border: 1px solid #000;
                        }
                    }
                    
                    div
                    {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        button
                        {
                            background: #fff;
                            @extend %modalBTn;
                            width: 30%;
                        }
                        button:last-child
                        {
                            background: #000;
                            color: white;
                            width: 50%;

                        }
                        button:first-child:hover
                        {
                            background: #000;
                            color: white;
                            border: 1px solid white;
                        }
                        button:last-child:hover
                        {
                            background: #fff;
                            color: #000;
                            border: 1px solid #000;
                        }
                        
                    }
                }
                
            }
        }
    
        
        #section-image
        {
            width: 100%;
            min-height: 30%;
            @extend %display-align;
            background-color: #00000080;
            box-shadow: 0 0 6px 3px rgba(0,0,0,0.75);
            overflow: hidden;
            line-height: 1;
            perspective: 1000px;

            


            section
            {
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: transform 500ms;

                position: relative;
                div
                {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                div:first-child
                {
                    img
                    {
                        width: 50%;
                        object-fit: cover;
                        transition: all 300ms;
                    }
                    img:hover
                    {
                        transform: scale(1.2) rotate(20deg);
                    }
                }
                div:last-child
                {
                    transform: rotateY(180deg);


                    p
                    {
                        font-size: 1.7rem;
                        padding-inline: 1rem;
                    }
                }

            }
        }
        

    }

    @media screen and (min-width: 1023px)
    {
        main
        {
            flex-direction: row;

            #section-texts
            {
                width: 600px;
            }
            #section-modal
            {
                #div-content-modal
                {
                    min-width: 0%;
                    width: 600px;
                }
            }
            #section-image
            {
                @extend %display-align;
                width:50%;
                height: 70%;
                box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.226);
                padding-inline: 2rem;
                section
                {
                    div:first-child
                    {
                        img
                        {
                            width: 600px;
                        }
                        img:hover
                        {
                            transform: scale(1.7) rotate(10deg);
                        }
    
                    }

                }
            }
        }
    }
    
}




// npx sass --watch ./styles/store.scss ./styles/output-store.css

